include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include DEVELOPMENT.md
include SECURITY.md
include STRUCTURE.md
include MODERNIZATION.md
include MODERNIZATION_STRUCTURE.md
recursive-include chempy *.pxd *.pyx *.py
recursive-include chempy *.pyi
recursive-include docs *.py
recursive-include tests *.py
recursive-include unittest *.py
recursive-include documentation *.rst *.py
